.button-grey{background:#888}
.button-red{background:#f6677b}
.button-green{background:#7ba52d}
.button-black{background:#222}
.dedo-form-error-message{color:#a00}
.dedo-download-article{margin:.8rem;display:flex}
.dedo-download-row,.dedo-list-row{display:flex;width:100%}
.dedo-download-content,.dedo-list-content,.dedo-list-content-compact{flex:1 1 auto;width:100%;min-width:70%}
.dedo-list-content-compact{line-height:1.35em}
.dedo-download-icon,.dedo-list-icon{flex:0 0 60px;width:60px;min-width:60px}
.dedo-download-icon-small{flex:0 0 58px;width:58px;min-width:60px}
.dedo-list-icon-small{flex:0 0 55px;width:55px;min-width:55px;padding:5px 0 0 5px}
.dedo-download-title{margin-top:6px}
.dedo-list-title{margin-top:4px}
.dedo-list-indent{margin-left:30px}
.dedo-download-meta-table{width:100%}
.dedo-download-meta-label{width:25%}
.dedo-list-headline{font-weight:600}